<div class="header">
    <img src="./img/banner_03.png" class="logo">
    <div class="header-name">业务综合管理系统</div>

    <div class="header-right">
        <div class="header-message">新消息<div class="header-badge">3</div></div>
        <div class="header-company">
            <img src="./img/nav-home.png">
            浙江省盐业集团有限公司
        </div>
        <div class="header-user">
            <div class="header-avatar">
                <img src="./img/icon-user.png">
            </div>
            欧阳甜甜
            <div class="caret"></div>
        </div>
    </div>
</div>