<ul class="menu">
    <li><i class="fa fa-wpforms"></i>我的菜单</li>
    <li><i class="fa fa-plus-square-o"></i>采购管理</li>
    <li><i class="fa fa-edit"></i>订单管理</li>
    <li class="active"><i class="fa fa-list-alt"></i>销售管理</li>
    <li><i class="fa fa-user"></i>客户经理</li>
    <li><i class="fa fa-users"></i>客户关系</li>
    <li><i class="fa fa-database"></i>调运管理</li>
    <li><i class="fa fa-copy"></i>配送管理</li>
    <li><i class="fa fa-file-text"></i>仓库管理</li>
    <li><i class="fa fa-clipboard"></i>综合报表</li>
    <li><i class="fa fa-search"></i>综合查询</li>
    <li><i class="fa fa-book"></i>领导查询</li>
    <li><i class="fa fa-th-list"></i>生产管理</li>
    <li><i class="fa fa-calendar-check-o"></i>质检管理</li>
    <li><i class="fa fa-th-large"></i>基础信息管理</li>
    <li><i class="fa fa-link"></i>接口管理</li>
    <li><i class="fa fa-key"></i>资金管理</li>
    <li><i class="fa fa-tv"></i>系统管理</li>
</ul>