<div class="nav">
    <div class="nav-time">9:35AM</div>
    <div class="nav-date">
        <div class="nav-day">2016年5月24日</div>
        <div>
            <div class="nav-cnday">星期二</div>
            <div class="nav-city">杭州</div>
        </div>
    </div>
    <div class="nav-weather">
        <img src="./img/icon-weather.png">
        <div class="nav-temp">
            23
        </div>
    </div>

    <div class="nav-notice">
        最新公告
        <img src="./img/icon-notice.png">
        <ul>
            <li>无公告信心</li>
        </ul>
    </div>

    <div class="nav-btns">
        <div class="nav-btn"><img src="./img/icon-convert.png"><span>单位转换</span><div class="caret"></div></div>
        <div class="nav-btn"><img src="./img/icon-download.png"><span>下载中心</span><div class="caret"></div></div>
        <div class="nav-btn"><img src="./img/icon-print.png"><span>打印设置</span></div>
    </div>
</div>