<div class="table">
    <div class="table-head">
        <div class="table-head-inner">
            <div class="table-has-line" style="width: 15.8%">消息编号</div>
            <div class="table-has-line" style="width: 17.4%">消息标题</div>
            <div class="table-has-line" style="width: 17.3%">失效日期</div>
            <div class="table-has-line" style="width: 17.4%">是否删除</div>
            <div style="width: 32.1%">备注</div>
        </div>
    </div>
    <div class="table-table">
        <div class="table-table-inner">
            <table>
                <tr>
                    <td style="width: 15.8%">201607060001</td>
                    <td style="width: 17.4%">7月月度计划</td>
                    <td style="width: 17.3%">016年7月6日</td>
                    <td style="width: 17.4%">正常</td>
                    <td style="width: 32.1%">巴拉巴拉</td>
                </tr>
                <tr class="odd">
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr>
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr class="odd">
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr>
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr class="odd">
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr>
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr class="odd">
                    <td>201607060001</td>
                    <td>7月月度计划</td>
                    <td>016年7月6日</td>
                    <td>正常</td>
                    <td>巴拉巴拉</td>
                </tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
                <tr><td>1</td></tr>
                <tr class="odd"><td>1</td></tr>
            </table>
        </div>
    </div>
    <div class="table-page">
        <div class="table-page-wrapper">
            <div class="table-page-center">
                <div class="table-page-begin">
                    <img src="./img/page-begin.png">
                </div>
                <div class="table-page-previous">
                    <img src="./img/pagenation_05.png">
                </div>
                <div class="table-page-nums">
                    <input class="table-page-num" />
                    OF
                    <input class="table-page-num" />
                </div>
                <div class="table-page-next">
                    <img src="./img/pagenation_07.png">
                </div>
                <div class="table-page-end">
                    <img src="./img/pagenation_09.png">
                </div>
            </div>
            <div class="table-page-right">
                <div class="right-caret"></div>
                设置页面呈现行列
                <div class="table-page-input">
                    <input>
                </div>
            </div>
        </div>
    </div>
</div>