@import "../../node_modules/normalize.css/normalize.css";
@import "./scrollbar";
@import "./font-awesome.min.css";

$base: 0.7;

*{
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  padding-bottom: 75px * $base;
  line-height: 1;
}

.main{
  padding: 0 70px * $base;
  height: 755px * $base;
  margin-top: 20px * $base;
}

.section{
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 225px * $base;
}

.caret{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: (6px * $base) solid #000;
  border-right: (6px * $base) solid transparent;
  border-left: (6px * $base) solid transparent;
  content: "";
}

.menu-left{
  height: 100%;
  width: 4px * $base;
  background-color: rgb(237, 237, 237);
  left: 10px * $base;
  top: 0;
  position: absolute;
}