.login{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: 100% 100%;

  &-logo{
    height: 130px * $base;
    margin-bottom: 10px;
  }

  &-form{
    position: absolute;
    left: 50%;
    margin-left: -285px * $base;
    top: 150px * $base;
    text-align: center;

    &-input{
      width: 570px * $base;
      padding-left: 75px * $base;
      position: relative;

      background: #FFF;
      border-radius: 10px;
      overflow: hidden;

      img{
        position: absolute;
        left: 30px * $base;
        top: 30px * $base;
      }

      input{
        line-height: 1;
        width: 100%;
        height: 100%;
        border: none;
        padding: 30px * $base 0;
        margin: 0;
        outline: 0;
        font-size: 20px * $base;
      }
    }

    &-input2{
      margin-top: 40px * $base;
    }
  }

  &-submit{
    width: 570px * $base;
    height: 80px * $base;
    background-color: rgb(14, 150, 236);
    border-radius: 10px;
    font-size: 26px * $base;
    color: #FFF;
    margin-top: 20px * $base;
    border: none;
    padding: 0;
    outline: none;
    padding-left: 60px * $base;
    letter-spacing: 60px * $base;
  }

  &-download{
    position: absolute;
    left: 90px * $base;
    bottom: 45px * $base;
    width: 180px;
    height: 46px;
    background-image: url("../img/images/xiazai-center_03.png");
    background-size: 100% 100%;
  }

  &-types{
    text-align: left;
    margin-top: 20px * $base;
    color: #FFF;
    label{
      left: 0;
      position: relative;
      margin-left: 42px * $base;
    }

    input{
      margin-right: 10px * $base;
    }
  }
}