.nav{
  height: 55px * $base;
  line-height: 55px * $base;
  width: 100%;
  background: url("../img/navBg.png");
  background-size: cover;
  color: #fff;
  padding-left: 70px * $base;
  padding-right: 70px * $base;

  &-time,
  &-weather,
  &-cnday,
  &-city,
  &-temp,
  &-notice,
  &-date{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &-time{
    font-size: 18px * $base;
  }

  &-date{
    margin-left: 10px * $base;
  }

  &-day{
    font-size: 12px * $base;
  }

  &-cnday{
    font-size: 14px * $base;
  }

  &-city{
    font-size: 12px * $base;
    margin-left: 8px * $base;
  }

  &-weather{
    img{
      vertical-align: middle;
    }
  }

  &-temp{
    font-size: 20px * $base;
    position: relative;

    &::before{
      content: "";
      display: inline-block;
      background: url("../img/icon-C.png");
      background-size: cover;
      position: absolute;
      top: -2px;
      right: -8px;
      width: 9px;
      height: 7px;
    }
  }

  &-notice{
    margin-left: 65px * $base;
    img{
      display: inline-block;
      vertical-align: middle;
    }

    ul{
      display: inline-block;
    }
  }

  &-btns{
    float: right;
  }

  &-btn{
    display: inline-block;
    vertical-align: middle;
    height: 40px * $base;
    line-height: 38px * $base;
    margin-left: 15px * $base;
    border: 1px solid rgb(164, 223, 253);

    img{
      margin-left: 16px * $base;
    }

    span{
      display: inline-block;
      margin-left: 12px * $base;
      margin-right: 30px * $base;
    }

    .caret{
      margin-right: 20px * $base;
      border-top-color: #FFF;
    }
  }
}