.table{
  height: 100%;
  width: 100%;
  padding: 20px * $base 25px * $base 50px * $base 20px * $base;



  &-head{
    height: 61px * $base;
    position: relative;
    z-index: 9;
    padding-right: 30px * $base;

    &-inner{
      width: 100%;
      height: 100%;
      background-color: rgb(248, 249, 251);
      border-bottom: 1px solid rgb(220, 229, 236);
    }

    div{
      float: left;
      height: 100%;
      line-height: 60px * $base;
      text-align: center;
      color: rgb(123, 123, 123);
    }
  }

  &-table{
    height: 100%;
    width: 100%;
    margin-top: -61px * $base;
    padding-top: 61px * $base;

    &-inner{
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    table{
      width: 100%;
      border-spacing: 0px;

      tr{
        height: 62px * $base;
        width: 100%;
      }

      tr.odd{
        background-color: rgb(249, 249, 249);
      }

      td{
        vertical-align: middle;
        text-align: center;
        color: rgb(150, 150, 150);
      }
    }
  }

  &-has-line{
    position: relative;

    &::before{
      content: " ";
      display: inline-block;
      height: 100%;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../img/border-line_03.png);
      background-size: 100% 100%;
    }
  }

  &-page{
    text-align: center;
    position: absolute;
    bottom: 10px * $base;
    left: 0;
    width: 100%;
    padding-left: 20px * $base;
    padding-right: 55px * $base;

    &-wrapper{
      position: relative;
    }

    &-right{
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px * $base;
      color: rgb(122, 171, 215);
    }

    &-input{
      padding: 6px * $base 15px * $base;
      background-color: rgb(207, 224, 235);
      display: inline-block;
      font-size: 0;

      input{
        font-size: 12px * $base;
        width: 35px * $base;
        height: 16px * $base;
        text-align: center;
        background-color: #FFF;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
      }
    }

    &-center{
      display: inline-block;
      background-color: rgb(207, 224, 235);
      padding: 2px 0;
    }

    &-nums{
      display: inline-block;
      vertical-align: middle;
      color: rgb(102, 99, 110);
      font-size: 12px;
    }

    &-num{
      width: 35px * $base;
      height: 16px * $base;
      text-align: center;
      background-color: #FFF;
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
      font-size: 12px;
    }

    &-begin,
    &-previous,
    &-next,
    &-end{
      width: 35px * $base;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;

      img{
        display: inline-block;
      }
    }

    &-begin,
    &-previous{
      border-right: 1px solid #FFF;
    }

    &-next,
    &-end{
      border-left: 1px solid #FFF;
    }
  }

  .right-caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px * $base solid transparent;
    border-bottom: 6px * $base solid transparent;
    border-left: 9px * $base solid rgb(122, 171, 215);
    content: "";
  }
}

.mCSB_scrollTools {
  .mCSB_dragger .mCSB_dragger_bar{
    background-color: rgb(199, 199, 199) !important;
  }

  .mCSB_draggerRail{
    width: 12px * $base;
    background-color: rgb(234, 234, 234);
    border-radius: 3px * $base;
  }
}